* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(32deg, #38102b, #151724, #0f233e);
}

/* NAVBAR */
.textnav {
  margin-top: 8px;
  margin-right: 16px;
}

.imageLogo {
  width: 230px;
  height: auto;
}

.word-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.navbar-app-name {
  color: #d74242 !important;
  font-weight: 800;
  letter-spacing: 2px;
}

.navbar-app-name:hover {
  color: white !important;
}

.navbar-feat:hover {
  color: #d74242 !important;
}
.dog {
  width: 100vw;
  min-height: 100vh;
}
.guest-navbar {
  background-image: linear-gradient(78deg, #38102b, #151724, #0f233e);
  width: 100%;
}
.navbar {
  background-image: linear-gradient(78deg, #38102b, #151724, #0f233e);
  background-color: transparent;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.navbar-login {
  color: #d74242 !important;
  font-weight: 600;
}

.navbar-login:hover {
  background-color: #d74242;
  color: white !important;
}

/* LANDING PAGE */
.landing-main-title {
  font-size: 60px;
}

.landing-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.landing-home-button {
  width: 15em;
  height: 3em;
  border-radius: 10em;
  background-color: #d74242;
}

.login-right-contents {
  margin-top: 90px;
  margin-bottom: auto;
}

.landing-home-button:hover {
  width: 15em;
  height: 3em;
  border-radius: 10em;
  background-color: rgb(130, 170, 222);
}
.fs-md {
  font-size: 1.25rem;
}

.login-whole-page {
  min-height: 100vh;
  overflow: hidden;
}

.login-left-side img {
  object-fit: cover;
  width: 100%;
}

.login-right-side {
  background-image: linear-gradient(32deg, #38102b, #151724, #0f233e);
  margin-top: 35px;

  align-items: start;
}

.login-header {
  line-height: 15px;
}

.login-header-app {
  font-weight: 600;
  letter-spacing: 2px;
  color: #d74242;
}

.login-sign-up-msg:hover {
  border: 2px white;
}
.login-submit-button {
  width: 100%;
  background-color: #d74242;
}

.login-submit-button:hover {
  width: 100%;
  background-color: #ffebeb;
  color: #d74242;
}

.register-right-side img {
  object-fit: cover;
  width: 100%;
}
/* SELECT */
.select-whole-page {
  width: 100vw;
  min-height: 100vh;
}
.cardButton {
  padding: 0px;
  color: transparent;
  margin: 16px;
  border-radius: 32px;
  border: 2px solid #ffebeb;
  background-color: transparent;
  transition: color 0.3s ease;
}
.selectButtons {
  background-color: transparent;
}

.clearlocal {
  background-color: #d74242;
}

.clearlocal:hover {
  background-color: #ffebeb;
  color: #d74242;
}

.cardcont {
  border-radius: 30px;
  border: 8px solid #e3e3e3;
  background: #37425f;
}

.cardbody {
  padding-left: 32px;
  padding-right: 25px;
  padding-bottom: 32px;
}

.icon {
  margin: 32px;
  height: 100px;
}

.card-title {
  color: #e3e3e3;
}

.line {
  width: 648px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #ffffff;
}

.signin {
  color: white;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
}

.box-margin {
  margin-right: 48px;
}

.centercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.centercontent {
  display: grid;
  place-items: center;
  align-items: flex-start;
}

/* GUEST DASHBOARD */
.guest-dashboard {
  width: 100vw;
  min-height: 100vh;
}
.guestNavbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.guest-dashboard-table-header {
  border-bottom: #8ea2ea78 0.1px solid;
}
/* REGISTER */

.register-whole-page {
  min-height: 100vh;
  overflow: hidden;
}

.register-left-side img {
  object-fit: cover;
  width: 100%;
}

.register-right-side {
  align-items: start;
  background-image: linear-gradient(32deg, #38102b, #151724, #0f233e);
  margin-top: 35px;
}

.register-header {
  margin-top: 30px;
  margin-bottom: auto;
  line-height: 15px;
}

.register-header-app {
  font-weight: 600;
  letter-spacing: 2px;
  color: #d74242;
}

.register-sign-up-msg:hover {
  border: 2px white;
}
.register-submit-button {
  width: 100%;
  background-color: #d74242;
}

.register-submit-button:hover {
  width: 100%;
  background-color: #ffebeb;
  color: #d74242;
}

.form-group small {
  font-weight: 600;
}

.user-navbar-app-name {
  color: #d74242 !important;
  font-weight: 800;
  letter-spacing: 2px;
}

.user-navbar-app-name:hover {
  color: white !important;
}

.user-navbar-feat:hover {
  color: #d74242 !important;
}

.user-navbar {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.user-dashboard {
  min-height: 100vh;
  width: 100vw;
}

.user-navbar-dropdown:hover {
  color: white !important;
}

.profile-page {
  min-height: 100%;
  width: 100vw;
}

.dropdown-item:hover {
  background-color: #d74242;
}

.dropdown-menu {
  font-size: 12px;
}

.search-notes {
  font-size: 12px;
}

.dashboard-body-folders {
  width: 35vh;
  height: 24vh;
  background-color: #37425f;
  border-radius: 10px;
  flex-direction: column;
}

.dashboard-body-folders:hover {
  background-color: #19233b;
  cursor: pointer;
}

.dashboard-body-folders button {
  height: 40px;
  font-size: 40px;
  background-color: transparent !important;
  border: none !important;
}

.dashboard-body-folders button:hover {
  color: #d74242;
}

.add-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
}
.create-modal {
  display: none;
  padding: 0px 20px;
}

.create-modal.open {
  display: flex;
}

.user-dashboard-bottom {
  padding: 0px 200px;
}

.sdsa {
  background-color: #37425f;
}

/* notes */

.notes-main-page {
  height: 100vh;
  width: 100vw;
}

.notes-main-page-content {
  margin-top: 5vh;
  padding: 0px 200px;
}

.note-list-item {
  width: 25vw;
  border-bottom: #8ea2ea78 0.1px solid;
}

.notes-sidebar {
  width: 30%;
  border-right: white solid 2px;
}

.note-item:hover {
  color: #d74242 !important;
}

.individual-note {
  height: 100vh;
  width: 100vw;
}

.add-notes-page {
  height: 100vh;
  width: 100vw;
}

.add-notes-page textarea {
  height: 80vh;
  overflow-y: scroll;
}

.notes-main-page-folder-text:hover {
  color: #d74242 !important;
}

.notes-main-page-add:hover {
  color: #d74242 !important;
}

.note-date-modified {
  color: #aeaeae;
  margin-right: 20px;
}

.note-delete-icon {
  background-color: transparent !important;
  color: red !important;
}

.note-delete-icon:hover {
  color: rgb(255, 60, 60) !important;
}

.choose-user-has-account {
  width: 40vh;
  height: 40vh;
  background-color: #37425f;
  margin-right: 2vw;
}

.choose-user-has-account:hover {
  background-color: #6377ac;
}
.choose-user-guest {
  width: 40vh;
  height: 40vh;
  margin-left: 2vw;
  background-color: #37425f;
}

.choose-user-guest:hover {
  background-color: #6377ac;
}

.choose-user-page {
  height: 100vh;
  width: 100vw;
}

.folder-popup {
  width: 300px;
  background-color: rgb(212, 192, 192);
  border-radius: 10px;
}

.folder-options {
  margin-left: 4px;
}
.note-list-title-entry {
  cursor: pointer;
}

.note-list-title-entry:hover {
  color: #d74242;
}

.note-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}

.folder-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.notes-page-header {
  border-bottom: #ffffff 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* GUEST DASHBOARD */
.guest-dashboard-page {
  min-height: 100vh;
  width: 100vw;
}

.guest-dashboard-contents {
  margin-top: 5vh;
  padding: 0px 200px;
}

.community-indiv-note {
  min-height: 100vh;
  width: 100vw;
}

.community-indiv-note-contents {
  padding: 0px 100px;
}
.community-indiv-note-notecontents {
  font-size: 15px;
}
.back-btn:hover {
  color: #d74242 !important;
}

.notecont {
  background-color: rgba(134, 134, 134, 0.226);
  height: 80vh;
  width: 100vw;
}

/* USER DASHBOARD */
.user-dashboard-bottom {
  margin-top: 48px;
}

.folderDirect {
  margin-bottom: 10px;
}

.addButtonCircle {
  color: #d74242;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
}

/* PROFILE */
.tagBox {
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.tagBox div {
  text-align: justify;
}

.profile-page {
  height: 100vh;
  width: 100vw;
}

.profileFullname {
  padding-bottom: 0px;
  margin-top: 10px;
}

.profileIcon {
  margin-top: 25px;
  width: 130px;
  height: auto;
  background-color: white;
  border-radius: 100%;
}

.profileUsername {
  margin-bottom: 50px;
}

.profileEmail {
  margin-top: -20px;
  padding-top: 0;
}

.profileUserID {
  margin-top: 20px;
}

.profileCont {
  background-color: #37425f;
  color: #e3e3e3;
  margin: auto;
  width: 400px;
  height: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  border-radius: 24px;
}

.signoutProfile {
  background-color: #d74242;
  margin-top: 40px;
  border: none;
}

.signoutProfile:hover {
  background-color: #ffebeb;
  color: #d74242;
  border: none;
}

.signoutLink {
  color: inherit;
  text-decoration: none;
}

.signoutLink:hover {
  color: inherit;
  text-decoration: none;
}

.ftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.folderPic {
  width: 200px;
  height: auto;
}

.backback {
  background-color: #d74242;
  border: none;
}

.backback:hover {
  background-color: #d74242;
  background-color: #ffebeb;
  color: #d74242;
  border: none;
}

/*Flashcards*/
.flashcard-container {
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flashcard {
  width: 70%;
  background-color: #232a44;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flashcard-main-content{
  width: 100vw;
}
.flashcard-content {
  background-color: #ffffff1e;
  height: 55vh;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;

}

.flashcard.edit-mode {
  background-color: #cfcae0;
  color: black;

}

.edit-mode-indicator {
  font-weight: 800;
  font-size: 1em;
  color: red;
}
.editable {
  min-height: 50px;
  padding: 5px;
}

.button-container {
  margin-top: 20px;
}

.card-index {
  font-size: 18px;
  font-weight: bold;
}

/*PLS REGISTER MODAL*/

.registration-modal .modal-content {
  background-color: #f8f9fa;
  color: #212529;
  width: 100vw;
  max-width: none;
  margin: 0;
}

.registration-modal .modal-dialog {
  margin: 0;
}

.registration-modal .modal-body {
  padding: 1rem;
}

.registration-modal .modal-header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
}

.registration-modal .modal-footer {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
}

.registration-modal .modal-header .close {
  color: #fff;
  font-size: 1.5rem;
}

.registration-modal .modal-backdrop {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  );
}

.table-header {
  background-color: #3b85cf !important;
  color: rgb(93, 54, 54) !important;
}

/* SORT BY BUTTON */
.sort-by-button {
  font-size: 12px;
}

.switch-label {
  font-size: 12px;
}

.indiv-note-tab {
  font-size: 12px !important;
}

.success-notification {
  position: absolute;
  top: 400px;
  right: 30px;
  background-color: #4caf50;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.success-notification.show {
  opacity: 0.9;
}
.success-notification.hide {
  opacity: 0;
}

.button-style{
  background-color: #d74242!important;
  font-size: 12px!important;
  margin-right: 10px;
}

.view-profile-main{
  width: 100vw;
  min-height: 100vh;
}

.butt {
  background-color:#d74242;
  margin-left: 8px;
}

/* ABOUT US */
.headerteam {
  width: 140vh;
  height: auto;
}

.aboutUs {
  color: #F0F0F0;
}

.teamApptive {
  color: #37425F;
}

/* TEAM CARD */
.headerteam {
  margin-top: 90px;
}

.memberCard {
  width: 300px;
}

.imageURL {
  height: 150px;
  width: auto;
  margin-bottom: 16px;
}

.memberCard h4 {
  margin-bottom: 0px;
  font-size: 20px;
}

.visionCont {
  background-color: #19243D;
  width: 140vh;
  height: 150px;
  border-radius: 16px;
  margin-top: 90px;
}

.visionCont h5 {
  color: #313A53;
}

.visionCont p {
  color: #313A53;
  text-align: center;
}

.cancel-button-style{
  background-color: gray;
  font-size: 12px!important;
  margin-right: 10px;
}