* {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(32deg, #38102b, #151724, #0f233e);
  /* padding-top: 20px; */
  /* padding: 20px; */
}

/* NAVBAR */
.textnav {
  margin-top: 8px;
}


.imageLogo{
  width: 230px;
  height: auto;
}

.word-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.navbar-app-name{
  color: #d74242 !important;
  font-weight: 800;
  letter-spacing: 2px;
}

.navbar-app-name:hover{
  color: white !important;

}

.navbar-feat:hover{
  color: #d74242 !important;

}

.navbar{
  margin-top: 8px;

    width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.navbar-login{
  color: #d74242 !important;
  font-weight: 600;
}

.navbar-login:hover{
  background-color: #d74242;
  color: white !important;
}

/* LANDING PAGE */
.landing-main-title {
  font-size: 60px;
}

.landing-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}


.landing-home-button{
  width: 15em;
  height: 3em;
  border-radius: 10em;
  background-color: #d74242;
}


.login-right-contents {
  margin-top: 90px;
  margin-bottom: auto;
}

.landing-home-button:hover{
  width: 15em;
  height: 3em;
  border-radius: 10em;
  background-color: rgb(130, 170, 222);
}
.fs-md {
  font-size: 1.25rem;
}
/* .login-whole-page{
  padding: 20px;
  width: 100%;
  height: 100vh;
} */

.login-whole-page{
  min-height: 100vh;
  /* min-width: 100vw; */
    overflow: hidden;
}

.login-left-side img {
  object-fit: cover;
  width: 100%;
}

.login-right-side{
  background-image: linear-gradient(32deg, #38102b, #151724, #0f233e);
  margin-top: 35px;

  align-items: start;

}

.login-header{
  line-height: 15px;
}


.login-header-app{
  font-weight: 600;
  letter-spacing: 2px;
  color: #d74242;
}

.login-sign-up-msg:hover{
  border: 2px white;
}
.login-submit-button{
  width: 100%;
  background-color: #d74242;
}

.login-submit-button:hover{
  width: 100%;
  background-color: #ffebeb;
  color: #d74242;
}

.register-right-side img {
  object-fit: cover;
  width: 100%;
}
/* SELECT */
.select-whole-page{
  width: 100vw;
  min-height: 100vh;
}
.cardButton {
  padding: 0px;
  color: transparent;
  margin: 16px;
  border-radius: 32px;
  border: 2px solid #ffffff;
  background-color: transparent;
  transition: color 0.3s ease;
}

.cardcont {
  border-radius: 30px;
  border: 8px solid #E3E3E3;
  background: #37425F;
}

.cardbody {
  padding-left: 32px;
  padding-right: 25px;
  padding-bottom: 32px;
}

.icon {
  margin: 32px;
  height: 100px;
}

.card-title {
  color: #E3E3E3;
}



.line {
  width: 648px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #ffffff;
}

.signin {
  color: white;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
}

.box-margin {
  margin-right: 48px;
}

.centercontainer { 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.centercontent {
  display: grid;
  place-items: center;
  align-items: flex-start;
}

/* GUEST DASHBOARD */
.guest-dashboard{
  width: 100vw;
  min-height: 100vh;
}
.guestNavbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.guest-dashboard-table-header{
 border-bottom: #8ea2ea78 0.1px solid;
  ;
}
/* REGISTER */

.register-whole-page{
  min-height: 100vh;
  /* min-width: 100vw; */
    overflow: hidden;
}

.register-left-side img {
  object-fit: cover;
  width: 100%;
}

.register-right-side{
  align-items: start;
  background-image: linear-gradient(32deg, #38102b, #151724, #0f233e);
    margin-top: 35px;
  
}

.register-header{
  margin-top: 30px;
  margin-bottom: auto;
  line-height: 15px;
}


.register-header-app{
  font-weight: 600;
  letter-spacing: 2px;
  color: #d74242;
}

.register-sign-up-msg:hover{
  border: 2px white;
}
.register-submit-button{
  width: 100%;
  background-color: #d74242;
}

.register-submit-button:hover{
  width: 100%;
  background-color: #ffebeb;
  color: #d74242;
}

.form-group small{
  font-weight: 600;
}


.user-navbar-app-name{
  color: #d74242 !important;
  font-weight: 800;
  letter-spacing: 2px;
}

.user-navbar-app-name:hover{
  color: white !important;

}

.user-navbar-feat:hover{
  color: #d74242 !important;

}

.user-navbar{
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.user-dashboard{
  min-height: 100vh;
  width: 100vw;
}

.user-navbar-dropdown:hover{
  color: white !important;

} 

.profile-page{
  height: 100vh;
  width: 100vw;
}

.dropdown-item:hover{
  background-color: #0f233e;
}



.dashboard-body-folders {
  width: 35vh;
  height: 24vh;
  background-color: #37425F;
  /* border: #ddd 1px solid; */
  border-radius: 10px;
  flex-direction: column;
}

.dashboard-body-folders:hover {
  background-color: #19233B;
  cursor: pointer;
}

.dashboard-body-folders button {
  height: 40px;
  font-size: 40px;
  background-color: transparent !important;
  border: none !important;
}

.dashboard-body-folders button:hover {
  color: #d74242;
}

.add-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #4caf50; /* Green color, adjust as needed */
  color: #fff; /* White text color */
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
}
.create-modal {
  display: none;
padding: 0px 20px;
}

.create-modal.open {
  display: flex;
}

.user-dashboard-bottom{
  padding: 0px 200px;
}

.sdsa{
  background-color: #37425F;
}

/* notes */

.notes-main-page{
  height: 100vh;
  width: 100vw;
}

.notes-main-page-content{
  margin: 0px 20vw;
  width: 49vw;


}

.note-list-item{
  width: 25vw;
  border-bottom: #8ea2ea78 0.1px solid;

}


.notes-sidebar{
  width: 30%;
  border-right: white solid 2px;
}



.note-item:hover{
  color: #d74242!important;

}

.individual-note{
  height: 100vh;
  width: 100vw;
}

.add-notes-page{
  height: 100vh;
  width: 100vw;  
}

.add-notes-page textarea{
  height: 80vh;
  overflow-y: scroll;

}

.notes-main-page-folder-text:hover{
  color: #d74242!important;
}

.notes-main-page-add:hover{
  color: #d74242!important;
}

.note-date-modified{
  color: #aeaeae;
  margin-right: 20px;
}

.note-delete-icon{
  background-color: transparent!important;
  color: red!important;
}

.note-delete-icon:hover{
  /* border: none!important; */
  color: rgb(255, 60, 60)!important;
}

.choose-user-has-account{
  width: 40vh;
  height: 40vh;
  background-color: #37425F;
  margin-right: 2vw;

}

.choose-user-has-account:hover{
  background-color: #6377ac;
}
.choose-user-guest{
  width: 40vh;
  height: 40vh;
  margin-left: 2vw;
  background-color: #37425F;
}

.choose-user-guest:hover{
  background-color: #6377ac;
}

.choose-user-page{
  height: 100vh;
  width: 100vw;
}

.folder-popup{
  width: 300px;
  background-color: rgb(212, 192, 192);
  border-radius: 10px;
  /* width: 80px;
  height: 80px; */
}

.folder-options{
  margin-left: 4px;
  /* background-color: #d74242!important; */

}
.note-list-title-entry{
  cursor: pointer;
}

.note-list-title-entry:hover{
  color: #d74242;
}

.note-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px; 
}

.folder-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;   
}

.notes-page-header{
  border-bottom: #ffffff 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  /* solid 2x rgba(55, 66, 95, 0.151); */
}

/* GUEST DASHBOARD */
.guest-dashboard-page{
  min-height: 100vh;
  width: 100vw;
}

.guest-dashboard-contents{
  margin-top: 5vh;

}

.community-indiv-note{
  min-height: 100vh;
  width: 100vw;
}

/* USER DASHBOARD */
.user-dashboard-bottom {
  margin-top: 48px
}

.folderDirect {
  margin-bottom: 42px;
}

.addButtonCircle {
  color: #d74242;
  background-color: white;
  /* margin-bottom: 24px;
  margin-right: 24px; */
  border-radius: 50px;
  cursor: pointer;
}
/*PROFILE*/
/* PROFILE */
.tagBox {
  background-color: transparent;
  display: flex;
  position: absolute;
  /* top: 186px;             directly under navbar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:auto;
  height: auto;
  margin: auto;
  align-items: center;
  flex-direction: column;     /*for text*/
  justify-content: center;
  text-align: justify;
}

.tagBox div {
  text-align: justify;
}

.profile-page {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
}

.profileFullname {
  padding-bottom: 0px;
  margin-top: 10px;
}

.profileIcon {
  margin-top: 25px;
  width: 130px;
  height: auto;
  background-color: white;
  border-radius: 100%;
  /* border: 1px solid */
}

.profileUsername {
  margin-bottom: 50px;
}

.profileEmail {
  margin-top: -20px;
  padding-top: 0;
}

.profileUserID {
  margin-top: 20px;
}

.profileCont {
  background-color: #37425F;
  color: #E3E3E3;
  margin: auto;
  width:400px;
  height: 400px;
  align-items: center;
  flex-direction: column;     /*for text*/
  justify-content: center;
  text-align: justify;
  border-radius: 24px;
}

.signoutProfile {
  background-color: #d74242;
  margin-top: 40px;
  border: none;
}

.signoutProfile:hover {
  background-color: #ffebeb;
  color: #d74242;
  border: none;
}

.signoutLink {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
}

.signoutLink:hover {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
}
